{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Create a New Post</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('new_post') }}" method="post">
        <div class="form-group">
            <label for="content">What's on your mind?</label>
            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="wordCount">Desired Word Count:</label>
            <input type="number" class="form-control" id="wordCount" name="wordCount" required>
        </div>
        <div class="form-group">
            <label for="topic">Topic:</label>
            <input type="text" class="form-control" id="topic" name="topic">
        </div>
        <div class="form-group">
            <label for="mood">Mood:</label>
            <input type="text" class="form-control" id="mood" name="mood" >
        </div>
        <button type="submit" class="btn btn-primary">Preview Post</button>
    </form>
</div>
{% endblock %}